<!-- <link rel="stylesheet" href="/css/signUp.css" type="text/css"> -->

<main class="form-container">
  <h1>Sign Up</h1>
  <div class="form">
    <%if(locals.error){%>
      <div id="error">
        <%= error %>
      </div>
      <%}%>
      <form class="row g-3" action="/signup" method="post">
        <div class="col-sm-6">
          <label for="select" class="form-label">Select Your Role:</label>
          <select name="role" id="select" class="form-select" aria-label="Default select example" required>
              <option selected value="employee">Employee</option>
              <option value="admin">Admin</option>
            </select>
        </div>
        <div class="col-sm-6">
          <label for="adminToken" class="form-label"><small>If you are admin</small> :</label>
          <input placeholder="admin token" type="text" class="form-control" id="adminToken"
            name="admin_token">
        </div>
        <div class="col-sm-12">
          <label for="employeeName" class="form-label">Employee Name / Admin Name</label>
          <input placeholder="username" type="text" class="form-control" id="employeeName" name="name" required>
        </div>
        <div class="col-sm-12">
          <label for="employeeEmail" class="form-label">Email</label>
          <input placeholder="email" type="email" class="form-control" id="employeeEmail" name="email" required>
          <div class="form-text">We will never share your email with anyone else.</div>
        </div>   
        <div class="col-sm-6">
          <label for="employeePassword" class="form-label">Password</label>
          <input placeholder="password" type="password" class="form-control" id="employeePassword" name="password" required>
        </div>
        <div class="col-sm-6">
          <label for="employeeConfirmPassword" class="form-label">Confirm Password</label>
          <input placeholder="confirm password" type="password" class="form-control" id="employeeConfirmPassword"
            name="confirm_password" required>
        </div>
        <div class="mb-3 form-check" style="margin-left: 20px;">
          <input type="checkbox" class="form-check-input" id="showPassword" onclick="showPass()">
          <label class="form-check-label" for="showPassword"><small style="color: gray;">Show Password</small></label>
        </div>
        <div class="col-sm-12">
          <button title="signin and redirect to home" type="submit" class="btn btn-primary">Sign Up</button>
        </div>

      </form>


  </div>
<!-- /* if user having account redirect to signIn page */ -->
  <div class="redirect-container">
    <p>I have account? <a href="/signin">Sign In</a></p>
  </div>
</main>

<script>
  function showPass() {
    var password = document.getElementById("employeePassword");
    var confirm_password = document.getElementById("employeeConfirmPassword");
    if (password.type === "password") {
      password.type = "text";
      confirm_password.type = "text";
    } else {
      password.type = "password";
      confirm_password.type = "password";
    }
  }
</script>

