<!-- <link rel="stylesheet" href="/css/feedback.css"> -->

<main id="main">
    <section id="list-of-feedbacks">
       <%- include('../../partials/employee/_listOfFeedbacks.ejs') -%>;
    </section>

    <section id="feedback-modal-btn-container">
        <%- include('../../partials/employee/_addFeedbackModal.ejs') -%>;
    </section>
</main>

